@import '../../common.scss';

.header {
    position: sticky;
    z-index: 3;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    background-color: $color_light_grey;
    box-shadow: 0 2px 4px rgba(0,0,0,0.08), 0 4px 12px rgba(0,0,0,0.08);
    color: $color_black;

    .row {
        display: flex;
        align-items: center;
    }

    .logo_portal {
        display: flex;
        align-items: flex-end;
        padding: 0;
        font-weight: 700;
        font-size: 20px;
    }

    .logo {
        display: flex;
        margin: 0 0.5rem 0 0;
        list-style: none;
    }

    .logo_letter {
        display: flex;
        justify-content: center;
        width: 2rem;
        margin-left: 0.5rem;
        background-color: $color_grey;
        font-weight: 700;
        font-size: 25px;
    }

    .date {
        padding: 0;
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1.75;
    }

    ul {
        display: flex;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
        list-style: none;

        li img {
            width: 2rem;
            height: auto;
            margin: 0 0.8rem 0 0;
        }
    }

    .social_network {
        display: flex;
        justify-content: flex-end;
        padding: 0;
    }
}

@media (max-width: 1024px) {
    .header {
        .date {
            font-size: 1.1rem;
            line-height: 2;
        }
    }
}

@media (max-width: 991px) {
    .header {
        height: 3rem;

        .logo_portal {
            font-size: 0.85rem;
        }

        .logo_letter {
            font-size: 1.1rem;
        }

        .date {
            text-align: center;
            font-size: 0.85rem;
        }

        .social_network {
            ul li img {
                width: 1.6rem;
            }
        }
    }

    @media (max-width: 720px) {
        .header {
            .container {
                width: 100%;
            }

            .logo_portal {
                font-size: 0.8rem;
            }

            .logo_letter {
                font-size: 1rem;
            }

            .date {
                font-size: 0.8rem;
            }
        }
    }

    @media (max-width: 520px) {
        .header {
            height: 6rem;

            .row {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .logo_portal,
            .social_network {
                justify-content: center;
                margin: 5px auto;
            }

            .social_network {
                ul li img {
                    width: 1.4rem;
                }
            }
        }
    }
}
