@import '../../common.scss';

.currency {
    margin-top: 2rem;
    padding-bottom: .25rem;
    background-color: $color_light_grey;
    color: $color_black;

    .title {
        margin: 0;
        padding: 0.5rem;
        background-color: $color_main;
        color: $color_white;
        text-align: center;
        text-transform: uppercase;
        font-size: 0.8em;
    }

    .row {
        display: flex;
        overflow-x: hidden;
        justify-content: space-between;
        margin: 1rem;
        padding: 1rem 0;
        border-bottom: 3px solid $color_main;
        background-color: $color_white;
    }

    h4 {
        margin: 0;
    }

    .row_value {
        width: 100%;
        text-align: center;
    }

    h5 {
        padding: 0 5px;
        color: #f33434;
        text-align: center;
    }

    .input {
        width: 100%;
        text-align: center;
        font-size: 0.9rem;
    }

    .input:focus-visible {
        outline: 1px solid $color_white;
    }
}

@media (max-width: 991px) {
    .currency {
        flex: 1;
        margin: 0 0 0 15px;
    }
}

@media (max-width: 520px) {
    .currency {
        margin: 2rem 0 0;
    }
}
